doctype html
html
    head
        title Bienvenue sur mon API
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
    body
        h1 Foodtruck
        ul
            a(href='/')
                li Home
            a(href='/foodtruck/add')
                li Rajoute ta bouffe Pédal

        block content


